/backend/vendor
/backend/.env.local
/backend/node_modules
/backend/npm-debug.log

/web/vendor
/web/.env.local
/web/node_modules
/web/npm-debug.log

/mobile/node_modules
/mobile/.env.local

.DS_Store
*.log
